<html>
        <head>
            <title>Django Girls blog</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        </head>
        <body>
            {% for Postear in publicaciones %}
                <div>
                    <h1> <a href="">{{Postear.titulo}}</a></h1>
                    <p>{{Postear.texto|linebreaks}}</p>
                    <p>publicada: {Postear.fecha_publicacion}</p>
                  </br>
                </div>
            {% endfor %}
        </body>
</html>
